<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Editar produto:</h1>
    <form th:action="@{/produto/cadastrar}" th:object="${produto}" method="post">

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" th:field="*{nome}" type="text" id="nome" placeholder="Informe o nome do Produto">
        </div>

        <div class="mb-3">
            <label class="form-label">Valor</label>
            <input class="form-control" th:field="*{valor}" type="text" id="valor" placeholder="Informe o valor do Produto">
        </div>

        <div class="mb-3">
            <label class="form-label">Descrição</label>
            <input class="form-control" th:field="*{descricao}" type="text" id="descricao" placeholder="Informe uma descrição do Produto">
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Fabricação</label>
            <input class="form-control" th:field="*{dataDeFabricacao}" type="text" id="dataDeFabricacao" placeholder="Informe a data de fabricação do Produto">
        </div>

        <div class="mb-3">
            <label class="form-label">É novo?</label>
            <input th:field="*{novo}" type="checkbox" id="novo" placeholder="Informe se o Produto é novo">
        </div>

        <button class="btn btn-success">Salvar</button>

        <br>
        <p th:text="${msg}"></p>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>