<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Listar Produtos</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Lista de Produtos</h1>
        <div class="alert alert-success"
             th:if="!${#strings.isEmpty(mensagem)}" th:text="${mensagem}">
        </div>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data Fabricação</th>
                <th>Novo</th>
                <th></th>
            </tr>
            <tr th:each="prod:${produtos}">
                <td th:text="${prod.nome}">
                    <a th:href="@{/produto/editar/}+${prod.codigo}"
                       class="btn btn-outline-primary">Editar</a>
                </td>
                <td th:text="${prod.descricao}"></td>
                <td th:text="${prod.valor}"></td>
                <td th:text="${#temporals.format(prod.dataFabricacao, 'dd/MM/yyyy')}"></td>
                <td th:text="${prod.novo?'Novo':'Usado'}"></td>
                <th>
                    <a th:href="@{/produto/editar/}+${prod.id}"
                       class="btn btn-outline-primary">Editar</a>
                </th>
            </tr>
        </table>
        <a th:href="@{/produto/cadastrar}">Cadastrar</a>
    </div>
</body>
</html>