<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registo de Usuário</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Registro de usuário</h1>
    <form th:object="${usuario}" th:action="@{/usuario/registrar}" method="post">
        <div class="mb-3">
            <label>Username</label>
            <input th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="mb-3">
            <div th:each="r:${roles}">
                <input type="checkbox" th:field="*{roles}" th:value="${r.name}">
                <label th:text="${r.label}"></label>
            </div>
        </div>
        <button class="btn btn-primary">Cadastrar</button>
    </form>
</div>
</body>
</html>